$spinner-size: 5rem;

.loading {
    display: grid;
    place-items: center;
}

.loading::after {
    content: "";
    width: $spinner-size;
    height: $spinner-size;
    border: $spinner-size * 0.15 solid #dddddd;
    border-top-color: #00ff21;
    border-bottom-color: #ffd800;
    border-left-color: #ff0000;
    border-right-color: #0026ff;
    border-radius: 50%;
    transform: rotate(0.16turn);
    animation: loading 1s linear infinite;
}

@keyframes loading {
    /* Safari support */
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}
