<ul class="flex-grow-0">
    <AuthorizeView>
        <Authorized>
            <li>
                <NavLink>
                    <span class="text-light">
                        <span class="fas fa-fw fa-user" aria-hidden="true"></span> @context.User.Identity.Name
                    </span>
                </NavLink>
            </li>
            <li>
                <NavLink href="authentication/logout">
                    <span class="fas fa-fw fa-sign-in-alt" aria-hidden="true"></span> Log out
                </NavLink>
            </li>
        </Authorized>
        <NotAuthorized> 
            <li>
                <NavLink href="authentication/login">
                    <span class="fas fa-fw fa-sign-out-alt" aria-hidden="true"></span> Log in
                </NavLink>
            </li> 
        </NotAuthorized>
    </AuthorizeView>
</ul>